from pydantic import BaseSettings

class Settings(BaseSettings):
    app_name: str = "{{ project_name }}"
    env: str = "dev"
    debug: bool = True

    class Config:
        env_file = ".env"

settings = Settings()
