{% if use_db %}
from contextlib import asynccontextmanager

{% endif %}
from fastapi import FastAPI
from .api.routes import router as api_router
{% if use_db %}
from .core.database import Base, engine


@asynccontextmanager
async def lifespan(app: FastAPI):
    Base.metadata.create_all(bind=engine)
    yield
{% endif %}

app = FastAPI(
    title="{{ project_name }}",
{% if use_db %}
    lifespan=lifespan,
{% endif %}
)


@app.get("/")
def read_root():
    return {"message": "API is running"}

app.include_router(api_router)
